// bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./size-utils.scss";

:root {
  --ts: 414;
  --ss: 414;
}

@media (max-width: 320px) {
  :root {
      --ss: 320;
  }
}
@media (min-width: 320px) {
  :root {
      --ss: 320;
  }
}
@media (min-width: 375px) {
  :root {
      --ss: 375;
  }
}
@media (min-width: 414px) {
  :root {
      --ss: 414;
  }
}
@media (min-width: 480px) {
  :root {
      --ss: 480;
  }
}

/* Global styling for this template */
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

.text-primary {
  color: $primary !important;
}

.text-muted {
  white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}
h1,
h2 {
  font-weight: 700;
  font-size: get-size(30);
}
h3 {
  font-weight: 600;
  font-size: get-size(25);
}
h4,
h5 {
  font-weight: 500;
  font-size: get-size(18);
}
h6 {
  font-weight: 400;
  font-size: get-size(16);
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Components */
// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: get-size(16);
  padding: get-size(10) get-size(15);
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}
