@import "../style/size-utils.scss";

.circle-fa-button {
  width: get-size(60);
  height: get-size(60);
  background: $primary;
  border-radius: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
