@import "../style/size-utils.scss";

.image-card {
  height: 491px;
  border-radius: 0 !important;
  .image {
    height: 491px;
  }
  .card-overlay {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .intro-text {
    padding-top: get-size(150);
    padding-bottom: get-size(100);
    .intro-lead-in {
      font-size: get-size(18);
      font-style: italic;
      line-height: get-size(20);
      margin-bottom: get-size(25);
      @include serif-font;
    }
    .intro-heading {
      font-size: get-size(30);
      font-weight: 700;
      line-height: get-size(40);
      margin-bottom: get-size(25);
      @include heading-font;
    }
  }
}
