@import "../style/size-utils.scss";

.image-card {
  height: get-size(300);
  border-radius: 0 !important;
  .card-overlay {
    padding: 0;
  }
  .intro-text {
    margin: get-size(155) 10px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 5px;
    .intro-lead-in {
      font-size: get-size(18);
      font-style: italic;
      line-height: get-size(20);
      @include serif-font;
    }
    .intro-heading {
      font-size: get-size(24);
      font-weight: 700;
      line-height: get-size(40);
      @include heading-font;
      color: rgb(84, 247, 192);
    }
  }
}
@media (max-width: 380px) {
  .image-card {
    height: get-size(300);
    .intro-text {
      margin: get-size(135) 10px 0;
      .intro-heading {
        font-size: get-size(20);
        line-height: get-size(40);
      }
    }
  }
}
@media (min-width: 768px) {
  .image-card {
    height: 700px;
    .intro-text {
      margin: 470px 50px 0;
      .intro-lead-in {
        font-size: 30px;
        line-height: 60px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
        @include heading-font;
      }
    }
  }
}
